<h1>Demo the API</h1>
<!DOCTYPE html>
<html>
<body>

<p><b>Instructions: </b>Enter an html content in the textarea below</p>
<form enctype="multipart/form-data" action="http://localhost:8000/upload" method="POST">
    <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
    <textarea rows = "20" cols = "60" name = "html_content">
    </textarea>
    <br />
    <br />
    Choose a file to upload: <input name="file" type="file" />
    <br />
    <br />
    
    <input type="submit" value="Submit" />
</form>

</body>
</html>